<div class="p-2">
  <h2>Manage my Book</h2>
  <hr>
  <div class="alert alert-danger mt-2" role="alert" *ngIf="errorMsg.length">
    <p class="p-0 m-0" *ngFor="let msg of errorMsg">
      {{ msg }}
    </p>
  </div>
  <div class="d-flex gap-2">
    <div class="col-3">
      <img src="" class="rounded-1" width="100%" height="100%"
        [src]="selectedPicture || 'https://source.unsplash.com/user/c_v_r/1900x800'">

      <div class="mt-2">
        <input type="file"
        (change)="onFileSelected($event)"
          class="form-control"
          id="formFile"
          accept="image/*">
      </div>
    </div>
    <div class="col-9">
      <form class="row g-3">
        <div class="col-12">
          <label for="title" class="form-label">Title</label>
          <input [(ngModel)]="bookRequest.title"
            name="title" id="title"
            class="form-control"
             placeholder="Book Title">
        </div>
        <div class="col-6">
          <label for="author" class="form-label">Author Name</label>
          <input [(ngModel)]="bookRequest.author"
            name="author" id="author"
            class="form-control"
             placeholder="Author Name">
        </div>
        <div class="col-6">
          <label for="isbn" class="form-label">ISBN</label>
          <input [(ngModel)]="bookRequest.isbn"
            name="isbn" id="isbn"
            class="form-control"
             placeholder="ISBN">
        </div>
        <div class="col-12">
          <label for="synopsis" class="form-label">Synopsis</label>
          <textarea [(ngModel)]="bookRequest.synopsis"
            name="synopsis" id="synopsis"
            class="form-control" rows="4"
             placeholder="Synopsis">
            </textarea>
        </div>
        <div class="col-12">
          <input [(ngModel)]="bookRequest.shareable"
            type="checkbox"  name="shareable"
            class="form-check-input">
            <label for="shareable" class="form-check-label">Share me</label>
        </div>
        <div class="d-flex justify-content-end gap-2 col-12">
          <button class="btn btn-outline-primary" (click)="createNewBook()">
            <i class="fas fa-save"></i>&nbsp;Save
          </button>
          <a routerLink="/books/my-books" class="btn btn-link text-danger">
            <i class="fas fa-times"></i>&nbsp;Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
